.text-area {
  width: 65%;
  height: 150px;
  resize: none;
  display: block;
  margin: 0 auto;
  outline-color: darkcyan;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}
.keyboard {
  width: 83%;
  position: absolute;
  bottom: 0;
  left: 10%;
  margin: 0;
  padding: 5px;
  background-color: #2e2a3c;
  border-radius: 5px;
  -webkit-box-shadow: 0px -1px 14px 5px rgb(71, 55, 105);
  -moz-box-shadow: 0px -1px 14px 5px rgb(71, 55, 105);
  box-shadow: 0px -1px 14px 5px rgb(71, 55, 105);
}
.keys {
  text-align: center;
}
.key {
  height: 45px;
  max-width: 90px;
  margin: 3px;
  width: 6.5%;
  color: #ffffff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  border: none;
  background-color: rgb(143, 191, 255);
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  transition: border-radius 0.3s ;
}
@keyframes hover {
  0% {
    background:  linear-gradient(86deg, #ffe512, #4960db, #00e6ff);
    background-position:87px 0px
  }
  50% {
    background:  linear-gradient(86deg, #ffe512, #4960db, #00e6ff);
    background-position:0px 400px
  }
  100% {
    background:  linear-gradient(86deg, #ffe512, #4960db, #00e6ff);
    background-position:87px 0px
  }
}
.key:hover {
  animation: hover 1s ease 1;

}
.key:active,
.key.active {
  background-color: #ffffff3b;
  border-radius: 15px;
}
.wide {
  width: 10%;
}
.extra-wide {
  width: 28.6%;
  max-width: 500px;
}
.activatable::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #2f492f;
  position: absolute;
  top: 5px;
  right: 5px;
}
.active::after {
  background-color: greenyellow;
}